BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
ColumnLimit: 0
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
IndentCaseLabels: true
PointerAlignment: Right
SortIncludes: false
